/*Classes style*/
.main{
	padding: 5px 0 50px 0;
	background-color: AliceBlue;
	border-radius: 20px;
	width: 300px;
	height: 200px;
	position: absolute; /*Trick to center, help in some responsive design*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.buttonConfirm {
	border-radius: 10px;
	height: 40px;
	width: 90px;
}

.buttonCreate {
	border-radius: 10px;
	height: 40px;
}

/*Classes transitions*/
.buttonCreate:hover { /*Add transition to button*/
	border-radius: 10px;
	height: 40px;
	background-color: #e0ece4;
}

.buttonConfirm:hover {
	border-radius: 10px;
	height: 40px;
	width: 90px;
	background-color: #e0ece4;
}

/*Tags style*/
header {
	background-color: AliceBlue;
	padding: 15px 0 10px 0;
	transition: height 1s;
	height: 20px;
}

header p { /*CSS combinator for drop effect*/
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 0.5s;
}

html, body {
    margin: 0;
    padding: 0;
	font-family: Lucida Console;
	text-align: center;
}

input {
	padding: 5px;
	height: 25px;
	width: 250px;
}

a {
	color: #66bfbf;
	text-decoration: none; /*Erase decoration in links*/
}

html { /*Trick to center background image*/
	background: url("flower-2336287_1280.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}


footer { /*Fixed footer*/
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
/*Tags transitions*/
header:hover {
	height: 45px;
}

header:hover p {
	visibility: visible;
	opacity: 1;
}